server {
    listen        443;
    ssl on;
    server_name lvh.me;

    ssl_certificate      /home/syed/works/help/hlam/tasks/nginx-verify-client/server.crt;
    ssl_certificate_key  /home/syed/works/help/hlam/tasks/nginx-verify-client/server.key;
    ssl_client_certificate /home/syed/works/help/hlam/tasks/nginx-verify-client/ca.crt;
    ssl_verify_client on;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

}