server {
    listen        443;
    ssl on;
    server_name lvh.me;

    ssl_certificate      /home/syed/works/help/hlam/tasks/nginx-verify-client-v2/output/server_publ.crt;
    ssl_certificate_key  /home/syed/works/help/hlam/tasks/nginx-verify-client-v2/output/server_priv.key.nopass;

    ssl_client_certificate /home/syed/works/help/hlam/tasks/nginx-verify-client-v2/output/client_ca_root_publ.crt;
    ssl_verify_client on;
    ssl_verify_depth 2;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

}
